@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


$tablet: 768px;
$mobile: 480px;

$heading-font: 'Cinzel', serif;

$desktop-heading-size: 8rem;
$mobile-heading-size: 6rem;

@mixin centerChild() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin backgroundImage($page, $screen) {
	$selector: '#' + $page + '-container';
	#{$selector} {
		background-image: url('../assets/' + $page + '/background-' + $page + '-' + $screen + '.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}
