$tablet: 768px;
$mobile: 480px;

@mixin centerChild() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin backgroundImage($page, $screen) {
	$selector: '#' + $page + '-container';
	#{$selector} {
		background-image: url('../assets/' + $page + '/background-' + $page + '-' + $screen + '.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}
